 <!-- Student’s Name: Hemal Vaghela
 StudentID: 301289095 
 Date: June 25, 2023 -->



<% include ../partials/header.ejs %>
 <!-- MAIN CONTENT -->
 </div>
    <div class="container">
      <h2>My favourite books home</h2>
      <div class="jumbotron">
        <div class="row" >
        <div class="col-md-offset-1 col-md-12">          
            <img src="/Assets/images/bg.jpg" width="800" >
        </div>
        </div>
      </div>
      </div>     
    </div>

<% include ../partials/footer.ejs %>


