<!-- File name: app.css 
Student’s Name: Hemal Vaghela
StudentID: 301289095 
Date: July 10, 2023 -->

<!-- Main navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">COMP 229</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">        
        <li class="nav-item active">                        
            <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i> Home </a>
        </li>
       
        <li class="nav-item ">
            <a class="nav-link" href="/about"><i class="fa-solid fa-circle-info"></i> About </a>
        </li>
        <li class="nav-item">              
            <a class="nav-link" href="/product"><i class="fa-solid fa-list"></i> Products </a>
        </li>
        <li class="nav-item">              
            <a class="nav-link" href="/service"><i class="fa-solid fa-gear"></i>Services </a>
        </li>
        <!-- <li class="nav-item">              
            <a class="nav-link" href="#"><i class="fa-solid fa-gamepad"></i>Games </a>
        </li>
        <li class="nav-item">              
              <a class="nav-link" href="#"><i class="fa-solid fa-address-card"></i>Business Contacts List </a>
        </li> -->
        <li class="nav-item">              
            <a class="nav-link" href="/contact"><i class="fa-solid fa-phone"></i> Contact </a>                        
        </li>   
      </ul>      
    </div>
  </nav>
